{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block Title %}{% endblock %}
    {% block cssData %}{% endblock %}
</head>
<body>
    {% block bodyData%} {% endblock %}

    <script src={% static 'Scripts/Extra/script.js' %}></script>
    <script>
        let BASE_URL = 'http://127.0.0.1:8000/'
    </script>
    {% block scriptData %} {% endblock %}
</body>
</html>